<!-- <div *ngFor="let track of tracks">
  {{track.name}} || {{track.artist.name}}
  <img [src] = 'track.artist.image.text'>
</div> -->

<p>
    <mat-form-field class = "field" appearance="outline">
      <mat-label class = "label">Search Artist</mat-label>
      <input matInput (keyup) = "onKey($event)" class="input">
      <mat-icon matSuffix>
        <i class="material-icons">
          search
        </i>
      </mat-icon>
    </mat-form-field>
  </p>

<div class="container">
  <app-card *ngFor="let track of tracks" 
  [track] = track
  (trackEmitter) = addToWishList($event)>
  </app-card>
</div>