mat-card{
	display: flex;
	flex-direction: column;
	height: 50vh;
	width: 40vw;
	text-align: center;
	background-color: #424242;
	margin: auto;
	margin-bottom: 70px;
}

mat-card-title{
	color:#fff;
	font-size: 1.2em;
	font-family: 'Acme',sans-serif;
	padding-left: 15vw;
	padding-top: 3vh;
}

.my-form{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
    }
    
    .label{
        color: #fff;
        font-size: 1.2em;
        font-family: 'Acme', sens-serif;
    }
    
    mat-icon{
    margin-right: 1em;
    color: #9c1148;
    }
    
    .matInputdata{
    color: #fff;
    font-size: 1.2em;
    font-family: 'Acme',sans-serif;
    }
    
    .mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button{
        color: #fff;
        background-color: #9c1148;
        font-size: 1.2em;
        font-family: 'Acme',sans-serif;
    }