<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="my-form">
      <mat-form-field>
        <mat-label class="label">Username</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input id="username"
               class="matInputdata"
               matInput
               [(ngModel)]="user.username"
               name="username"
               required/>
      </mat-form-field>

      <mat-form-field>
          <mat-label class="label">Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input id="email"
                 class="matInputdata"
                 matInput
                 [(ngModel)]="user.email"
                 name="email"
                 required/>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="label">Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input id="password"
                   type="password"
                   class="matInputdata"
                   matInput
                   [(ngModel)]="user.password"
                   name="password"
                   required/>
          </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button 
      class="register-user"
      mat-raised-button
      color="accent"
      (click)="register()">Register</button>
  </mat-card-actions>
</mat-card>