<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="image-class" src="assets\images\logo.png">
      <button class="mat-button" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button class="mat-menu-item-india" [routerLink]="['/India']" mat-menu-item>India</button>
          <button class="mat-menu-item-spain" [routerLink]="['/Spain']" mat-menu-item>Spain</button>
        </mat-menu>
      <button class="mat-button-wishlist" [routerLink]="['/WishList']" mat-button>WishList</button>
  </mat-toolbar-row>
</mat-toolbar>