.example-card{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 20vw;
    margin: 1em;
    text-align: center;
    background-color: #424242;
    margin-top: 10vh;
}

.header{
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    color: #fff;
}

.mat-card-subtitle{
    color:#fff;
} 

.image{
    height: 25vh;
    width: 15vw;
    margin: auto;
}

.mat-icons{
    color: #fff;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
    background-color: #9c1148;
    margin-left: 10px;
}

.material-icons{
    color: #fff;
}

.deleteButton {
    color: red;
}