<mat-card class="example-card">
  <mat-card-header class="header">
    <mat-card-title>{{track.name}}</mat-card-title>
    <mat-card-subtitle>{{track.artist.name}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="track.artist.image.text" alt="Photo of a Shiba Inu">
  <mat-card-actions>

    <button class="addbutton"
    *ngIf="!wishData"
    (click)="addToWishList(track)"
    matTooltip = "Add to WishList"  
    mat-mini-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>

    <button class="deleteButton"
    *ngIf="wishData"
    (click)="deleteFromWishList(track)"
    matTooltip = "Delete from WishList"  
    mat-mini-fab>
    <i class="material-icons">delete</i>
    </button>

    <button mat-mini-fab matTooltip = "Play">
      <mat-icon>
        <a [href]="track.url">
            <i class="material-icons">play_circle_filled_white</i>
        </a>
      </mat-icon>
    </button>

    <button class="commentButton"
    *ngIf="wishData"
    (click)="addComments()"
    matTooltip = "Update Comments"  
    mat-mini-fab>
    <i class="material-icons">create</i>
    </button>
  </mat-card-actions>
</mat-card>
